THE_ODDS_API_KEY=replace_me
THE_ODDS_API_BASE_URL=https://api.the-odds-api.com/v4
ODDS_CACHE_TTL_MINUTES=10
ODDS_HTTP_TIMEOUT_SECONDS=12

APP_AUTH_USERNAME=admin
APP_AUTH_PASSWORD=change_me
# Optional stronger option:
# APP_AUTH_PASSWORD_HASH=pbkdf2_sha256$210000$<salt_b64>$<hash_b64>
APP_JWT_SECRET=change-me-in-production
APP_JWT_EXPIRES_HOURS=12
APP_JWT_REMEMBER_DAYS=30

MYSQLHOST=localhost
MYSQLPORT=3306
MYSQLUSER=root
MYSQLPASSWORD=pass
MYSQLDATABASE=gleam_mlb
